#id-tabela {
    display: flex;
}

#button-crud {
    align-items: center;
}

#button-crud input {
    margin: 10px;
    height: 25px;
    width: 10%;
    display: inline-flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#button-crud input#button-update {
    background-color: #8bc498;
    color: white;
}

#button-crud input#button-delete {
    background-color: #d9534f;
    color: white;
}

header input,
#confirmar,
#exemplo,
input#criar,
#adicionar,
#button-sql {
    margin: 10px;
    height: 25px;
    width: 15%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

div#divNomeTabela, div#divCabecalhoTabela, #inputBancoDados {
    margin: 10px;
    height: 26px;
    width: 15%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

div#divNomeTabela #nomeTabela, div#divCabecalhoTabela #cabecalhoTabela {
    margin: 0px;
    height: 25px;
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#confirmar {
    background-color: #8bc498;
    color: white;
}

#exemplo {
    background-color: #0275D8;
    color: white;
}

.delete {
    background-color: #d9534f;
    color: white;
}

table {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#menu {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    margin-top: 0px;
    width: 100%; 
    height: 25px;
    box-sizing: border-box;
}

#menu > input {
    list-style-type: none;
    margin-right: 10px;
  
}

#menu-linha {       
    box-sizing: border-box;
    /* border: 1px solid #ccc; */
    text-align: center;
    margin-top: 0%;
}

#select {
    width: 8%;
    height: 25px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

                                                              
#divsql {
    margin: 10px;
    height: 25px;
    width: 20%;
    display: flex;
    box-sizing: border-box;

    /* border: 1px solid #ccc; */
}

#button-sql {
    text-align: center;
    margin-left: 55%;
    margin-top: -1px;
    margin-right: -1px;
}

#deletarBD {
    margin-top: 10px;
    margin-bottom: -10px;
    border: 1px solid #ccc;
    color: #ccc;
}

#deletarBD:hover {
    background-color: #d9534f;
    color: #ccc;
}

#criar:hover,
#adicionar:hover,
#button-sql:hover {
    background-color: #0275D8;
    color: white;
}

.delete:hover,
#button-crud input#button-delete:hover {
    background-color: #ad423f;
    color: white;
}


#button-crud input#button-update:hover,
#confirmar:hover {
    background-color: #6f9c79;
    color: white;
}

#divsql input {
    width: 100%;
    height: 25px;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


select {
    width: 30%;
    height: 25px;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#div-th {
    /* border: 1px solid #ccc; */
    width: 100%;
    display: flex;
    justify-content: center;
}

#tituloTabela {
    /* border: 1px solid #ccc; */
    display: flex;
}

#divBancoDados {
    margin-top: 17px;
    width: 100%;
    display: flex;
    height: 26px;
    justify-content: right;
    /* border: 1px solid #ccc; */
}

#divThs {
    /* border: 1px solid #ccc; */
    width: 2%;
    height: 15px;
}

#prompt-CMD {
    margin-top: 20px;
    border: 5px solid #292524;
    height: 100px;
    background-color: #12100C;
}

#button-copy {
    /* border: 1px solid #ccc; */
    display: flex;
    justify-content: right;;
}

#button-copy input {
    border: 1px solid #ccc;
    color: #7A7777;
}   

#button-copy input:hover {
    background-color: #D67400;
    color: #7A7777;
}

#cmd {
    color: white;
    display: flex;
}

/* #createCMD, #tabelasCMD {
    border: 1px solid #ccc;
} */
